<div class="card">
  <div class="card-icon"><i class="fa-solid fa-file-contract"></i></div>
  <h3>Resume & Career Personalization</h3>
  <p>
    AI-powered CV builder with real-time job suggestions and GitHub project
    analysis
  </p>
  <ul>
    <li><i class="fa-solid fa-circle-check"></i> Smart CV Generator</li>
    <li><i class="fa-solid fa-circle-check"></i> Cover Letter Creation</li>
    <li><i class="fa-solid fa-circle-check"></i> Job Matching</li>
    <li><i class="fa-solid fa-circle-check"></i> GitHub Integration</li>
  </ul>

  <a href="asset/resume.pdf" download="resume.pdf" class="btn-download">
    <i class="fa-solid fa-file-pdf"></i> Download PDF
  </a>
</div>
