<div class="card">
  <div class="card-icon"><i class="fa-solid fa-filter"></i></div>
  <h3>AI Applicant Filter</h3>
  <p>
    Voice-based interview practice with instant feedback and skill assessment
  </p>
  <ul>
    <li><i class="fa-solid fa-circle-check"></i> Real-time Feedback</li>
    <li><i class="fa-solid fa-circle-check"></i> Skill Quiz</li>
    <li><i class="fa-solid fa-circle-check"></i> Unbiased Assessment</li>
  </ul>

  <a href="asset/filter.pdf" download="filter.pdf" class="btn-download">
    <i class="fa-solid fa-file-pdf"></i> Download PDF
  </a>
</div>
