<div class="card">
  <div class="card-icon"><i class="fa-solid fa-microphone-lines"></i></div>
  <h3>Interview Preparation Assistant</h3>
  <p>
    AI-generated voice-based interview questions tailored to your job role and
    experience
  </p>
  <ul>
    <li><i class="fa-solid fa-circle-check"></i> Voice Interview</li>
    <li><i class="fa-solid fa-circle-check"></i> HR & Technical Q&A</li>
    <li><i class="fa-solid fa-circle-check"></i> Custom Questions</li>
    <li><i class="fa-solid fa-circle-check"></i> Mock Interviews</li>
  </ul>

  <a href="asset/interview.pdf" download="interview.pdf" class="btn-download">
    <i class="fa-solid fa-file-pdf"></i> Download PDF
  </a>
</div>
